body {
    font-family: 'Poppins', sans-serif;
}

.large-text {
    font-size: 40px;
    padding-left: 300px;

}

.line {
    padding-left: 170px;
}

.top-banner {
    padding-top: 60px;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 165px;
}

.orange {
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 10px;

}

.text1 {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 15px;
}

.large-text2 {
    padding-top: 80px;
    padding-left: 480px;
    font-size: 45px;
}

.taka {
    display: flex;
    padding-left: 350px;
    padding-top: 15px;
    padding-bottom: 20px;
    opacity: .8;

}

.one {
    background-color: rgba(128, 128, 128, 0.226);
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;
    font-size: larger;
    font-weight: bold;
}

.two {
    background-color: rgba(255, 29, 29, 0.219);
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;
    color: red;
    border: 2px solid red;
    font-size: larger;
    font-weight: bold;
}


.three {
    background-color: rgba(128, 128, 128, 0.226);
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;
    font-size: larger;
    font-weight: bold;

}

.four {
    background-color: rgba(128, 128, 128, 0.226);
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;
    font-size: larger;
    font-weight: bold;
}

.five {

    background-color: rgba(128, 128, 128, 0.226);
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;
    font-size: larger;
    font-weight: bold;
}

.large-text3 {
    padding-left: 205px;
}

.orange2 {
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 10px;
    margin-bottom: 30px;

}

.large-text3 {
    padding-left: 400px;
}

.don {
    padding-bottom: 130px;
    padding-top: 30px;
}

.amount {}

.horinzon {
    padding-left: 350px;
    padding-right: 350px;
}

.large-text4 {
    padding-left: 400px;
    padding-bottom: 50px;
}

.third-banner {
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 70px;
}

.one1 {
    background-color: rgba(0, 255, 255, 0.253);
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
}

.two2 {
    background-color: #ff595920;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
}

.three3 {
    background-color: #ff595944;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
}

.htc {
    display: flex;
    padding-left: 200px;
    padding-top: 200px;
}

.htc2 img {
    border-radius: 10px;
    weight: 100px;
    height: 350px;

    padding-bottom: 90px;
}

.orange3 {
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 10px;
    padding-top: 15px;


}

.bot {
    padding-bottom: 40px;
    padding-right: 70px;
}

.htc1h {
    font-size: 1000px;
    font-weight: bold;
}

.htc21 img {
    border-radius: 10px;
    weight: 150px;
    height: 450px;

    padding-bottom: 90px;
    padding-right: 45px;
}

.ht1h1 {
    padding-top: 35px;
}

.foot {
    background-color: #0b0d17;
}

.foot footer h3 {
    color: #ff5959;
    padding-left: 600px;
    padding-top: 60px;

    font-size: 20px;

}

.foot footer p {
    color: white;
    padding-left: 610px;


    font-size: 10px;
    padding-bottom: 60px;
}

.two-color {
    padding-left: 100px;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.363) 70% ,red 30%);
    font-size: 10px;

}

.sub{
    padding-left: 140px;
   
}
.las{
    padding-left: 470px;
    padding-right: 420px;
    background-color: #ff59596e;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    
}
.email{
    padding-right: 10px;
}
.last{
    padding-bottom: 50px;
}
footer h3{
    font-family: 'Dancing Script', cursive;
    
}